body {
  background-color: #191b25;
  margin: 0;
}

#page-wrapper {
  width: 100%;
  margin: 0, 0, 8px, 0;
 }

#content-wrapper {
  margin: 0 auto;
  /*position:absolute;*/
  /*top: 123px;*/
  z-index: 2;
  width: 50%;
}

h1 {
  font-family: 'Exo 2', Arial, sans-serif;
  font-weight: 200;
  font-size: 4em;
  color: rgb(219, 219, 219);
  text-align: center;
  margin-top: 1%;
}

h2 {
  font-family: 'Exo 2';
  font-weight: 200;
  color: rgb(219, 219, 219);
  text-align: center;
}

p {
  font-family: 'Exo 2';
  font-weight: 200;
  color: rgb(219, 219, 219);
  text-align: right;
  margin: 0 0 2px 0;
}

input {
  float: right;
}

svg {
  margin: 0 25%;
}
