body {
  background-color: rgb(147, 235, 205);
}

#page-wrapper {
  width: auto;
}

#content-wrapper {
  margin: 0 auto;
  /*position:absolute;*/
  top: 123px;
  z-index: 2;
  width: 50%;
}

h1 {
  font-family: cursive;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  text-align: center;
}
#viz {
  z-index: 0;
}

input {
  text-align: center;
}
